{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'index.css' %}"> 
    <title>Play Log</title>
</head>
<body>

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Play Log</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav">
            <li class="nav-item ml-auto">
              <a class="nav-link" href="#">Encyclopedia</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="#">Sign in</a>
            </li>
          </ul>
        </div>
    </nav>

    <!--PAGE CONTENT-->
    <div id="about_us_info">
        <h1>Welcome to Play Log</h1>
        <p id="play_log_details">Play Log is your ultimate gaming companion. Track your gaming backlog, discover new games, and connect with other gamers. Sign up today and start your gaming journey!</p>
        <h3>Create a list of your games</h3>
        <ul>
          <li>Add games you have played, are playing or plan to play</li>
          <li>Rate them and describe your impressions</li>
          <li>Arrange them by platform, genre, release date and other criteria</li>
        </ul> 
    </div>

    <div id="popular_games">
        <h2>Most popular games</h2>
        <div id="info_container">
            <div class="info">
                <h3>Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel accumsan lacus, in sodales turpis. Vivamus sagittis tellus ac lobortis volutpat.</p>
            </div>
    
            <div class="info">
                <h3>Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel accumsan lacus, in sodales turpis. Vivamus sagittis tellus ac lobortis volutpat.</p>
            </div>
    
            <div class="info">
                <h3>Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel accumsan lacus, in sodales turpis. Vivamus sagittis tellus ac lobortis volutpat.</p>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <footer class="bg-body-tertiary text-center mt-auto">
        <!-- Grid container -->
        <div class="container p-4"></div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2020 Copyright:
          <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>